Flask
Flask-SQLAlchemy
Flask-Login
Flask-WTF
Werkzeug
Jinja2
gunicorn
numpy
pandas
opencv-python
Pillow
scikit-learn
torch
torchvision
transformers
sentencepiece
face-recognition
dlib
mysql-connector-python
SQLAlchemy
requests
huggingface-hub
accelerate