Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Bcrypt==1.0.1
Werkzeug==3.0.3
Jinja2==3.1.4
gunicorn==23.0.0
mysql-connector-python==9.0.0
SQLAlchemy==2.0.35
numpy
pandas
Pillow
opencv-python-headless
face-recognition
dlib
torch
torchvision
transformers
huggingface-hub
sentencepiece
accelerate
reportlab
requests
diffusers
safetensors
insightface
Flask
gunicorn
Flask-SQLAlchemy
Flask-Bcrypt
mysql-connector-python

numpy
pandas
Pillow
opencv-python-headless

torch
torchvision
transformers
diffusers
accelerate
sentencepiece

face-recognition
dlib
insightface
onnxruntime

python-dotenv